* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333333;
    line-height: 1.6;
    padding: 20px;
}


header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}


h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 15px;
}

div {
    margin: 20px 0;
}


div img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    text-align: center;
}

ul li {
    font-size: 1.5em;
    margin-bottom: 10px;
}


video, audio {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

td {
    background-color: #f4f4f4;
}

tr:hover td {
    background-color: #e2e2e2;
}


h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 15px;
}
form {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #555;
}
